@import "../../styles/variable.scss";

.header {
  position: fixed;
  top: 0;
  background: transparent;
  left: 0;
  right: 0;
  padding-top: 24px;
  z-index: 9999;
  color: $white;
  @include md-and-up {
    padding-top: 0;
  }
  @include lg-and-up {
    padding-top: 40px;
  }
}

.nav {
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
  justify-content: space-between;
  width: 100vw;

  @include lg-and-up {
    padding-left: 55px;
  }

  &__left {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;

    @include md-and-up {
      width: auto;
    }
    @include lg-and-up {
      position: relative;

      &:after {
        position: absolute;
        content: "";
        background: rgba($white, 0.04);
        top: calc(50% - 0.5px);
        left: calc(100% + 64px);
        width: 33vw;
        height: 1px;
      }
    }
  }

  &__right {
    @include hide;

    @include md-and-up {
      @include show;
      padding-left: 48px;
      padding-right: 48px;
      height: 96px;
      background: rgba($white, 0.04);
    }
    @include lg-and-up {
      width: 80%;
      max-width: 830px;
    }
    ul {
      display: flex;
      list-style: none;
      height: 100%;
    }
  }
  &__item {
    margin-right: 36px;
    height: 100%;
    line-height: 96px;

    @include lg-and-up {
      margin-right: 52px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @include md-and-up {
    padding-right: 0;
  }

  &__mobileMenuButton {
    z-index: 9999;
  }
}

.hideInMD {
  @include show;
  @include md-and-up {
    @include hide;
  }
}
