@import "../../styles/variable.scss";

.mobileMenu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 100px;
  transition: transform 0.3s ease-in-out;
  background: rgba($white, 0.04);
  width: 254px;
  padding-left: 32px;

  &__active {
    transform: translateX(0);
  }

  &__close {
    transform: translateX(100%);
  }

  &__tab {
    padding: 16px 0;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}
