@font-face {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../public/fonts/Bellefair-Regular.ttf);
}

@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../public/fonts/BarlowCondensed-Regular.ttf);
}

@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../public/fonts/BarlowCondensed-Bold.ttf);
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../public/fonts/Barlow-Light.ttf);
}
