@import "~bootstrap/scss/bootstrap";
@import "./variable.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  background: $dark;
  color: $white;
  font-size: 18px;
  font-family: $main-font;
}

h1 {
  @include heading-1;
}

p {
  font-family: "Barlow";
  font-weight: 300;
}
